a {
  color: rgba(24, 144, 255, 1);
  text-decoration: none;
}
a:hover {
  opacity: 0.9;
}

.clearfix::after {
  display: block;
  clear: both;
  content: '';
}

.huge-txt {
  font-size: 40px;
}

.big-txt {
  font-size: 30px;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

// elementui reset
.el-menu {
  background-color: transparent;
}

.el-button--primary {
  background-color: rgba(24, 144, 255, 1);
  border-color: rgba(24, 144, 255, 1);
}
// table
.el-table {
  th,
  td {
    &:first-child {
      .cell {
        padding-left: 30px;
      }
    }
  }
  th {
    margin: 0 30px;
    background-color: rgba(250, 250, 250, 1);
    color: rgba(0, 0, 0, 0.85);
    .cell {
      white-space: nowrap;
    }
  }
  .cell {
    p {
      line-height: 22px;
      &:first-child {
        margin-bottom: 4px;
      }
    }
  }
}

.side-menu {
  &.el-menu {
    border-right: 0;
    .el-menu-item i {
      margin-right: 8px;
      width: 24px;
      text-align: center;
      font-size: 14px;
      vertical-align: middle;
      color: rgba(180, 181, 183, 1);
    }
    .el-menu-item:focus,
    .el-menu-item:hover,
    .el-menu-item.is-active {
      background-color: rgba(24, 144, 255, 1);
      outline: none;
      * {
        color: #fff;
      }
    }
    &.el-menu--collapse {
      .el-menu-item {
        text-align: center;
        i {
          margin-right: 0;
        }
      }
    }
  }
}

// pager
.el-pagination.is-background {
  .btn-prev, .btn-next, .el-pager .number {
    background-color: transparent;
    border: 1px solid $cb-light;
  }
}

// loading
.el-loading-mask {
  z-index: 1000;
}
